/*#writtensidebar { padding: 0px 1em; }*/
.doc, .license { margin: 1em 0px; }
.notify { margin: 0.85em 12px !important; display: block; }
.page { padding: 0px 12px; xdisplay: inline-block; }
.navlist { float: none; }
.navlist li { display: block; }
#dw__search { margin-bottom: 1em; display: block; }
#dw__search button { margin-top: 12px; }
.header a:link, .header a:visited { color: #333333; }
#navcontainer a:link, #navcontainer a:visited { color: #333333; }
.header a:hover { color: #cc0000; }
.header { text-align: left; }
div.breadcrumbs { margin: 1em 0px; border-bottom: 1px dotted #404040; display: table; }
#dw__toc { padding: 8px; }
button { padding: 3px; margin-bottom: 8px; }
.page li, .page dd { display: block; margin: 0.35em 0 0 1.5em; }
#mediamanager__page { min-width: 47em; }
#mediamanager__page .filelist { min-width: 20em;  width: 45%; }
textarea{ font-family: 'Courier New'; }
.container { padding-bottom: 24px; }

.drawer-nav li a:link, .drawer-nav li a:visited { .drawer-menu-item; }
.drawer-brand { font-size: 1.5rem !important; }
.drawer-nav li a:link, 
.drawer-nav li a:visited { 
	color: #0066cc !important; 
}
.drawer-nav li a.drawer-menu-item:hover { text-decoration: underline !important; }
.drawer-nav { overflow: auto; }
#mobilewrittensidebar h1 { .drawer-brand; font-style: normal; font-family: unset; }
/*#mobilewrittensidebar { display: none; }*/

#writtensidebar a:link, #writtensidebar a:visited,
#mobilewrittensidebar a:link, #mobilewrittensidebar a:visited, {
	background-image: none;
	padding: 0px;
}

#writtensidebar ul, #writtensidebar li { width: 200px; }

#writtensidebar li {
	list-style: none;
	margin: 0;
	padding: .25em;
	border-top: 1px solid gray;
	display: block;
	box-sizing: border-box;
}

#writtensidebar ul {
	padding-left: 0;
	margin-left: 0;
	border-bottom: 1px solid gray;
	width: 200px;
	/*float: right;*/
}

